html, body {
  height: 100%;
}

.adminNav {
	margin-bottom: 10px;
}

.levelNav { 
	margin-botton: 10px;
}

.capitalize {
  text-transform: capitalize;
}

i {
	margin-right: 5px;
}

.btn-xlg{
  margin-top: 20px;
  height: 50px;
  width: 150px;
  margin-right: 5px;
  line-height: 30px;
  font-family: sans-serif;
}

.centerImage {
  margin: 0 auto;
}

.imageContainer {
  margin-top: 5px;
  margin-bottom: 10px;
}

.invisble {
	display: none;
}

.visible {
	display: block;
}

.answer {
	display: inline-block;
}

/*.invisbleComment {
	background-color: green;
}

.correctAnswerDisplay {
	background-color: yellow;
}
*/

.startContainer {
  margin-top: 200;
}

/*SHOULD NOT BE OUTCOMMENTED*/
.hideAnswer {
	display: none;
}

.showAnswer {
	display: inline-block;
}


.questionair {
  width: 80%;
}

h4.questionTitle {
  font-size: 180%;
  text-transform: capitalize;
}

/*Center the questions horizontall*/
.question {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center;
}

/*Distribute questions evenly*/
.evenly {
  display:flex;
  justify-content:space-between;
}

.btnAnswer {
  border: none;
}

.comment {
  text-align: center;
  text-transform: capitalize;;
  font-size: 200%;
}

.nextQuestionContainer {
  height: 80px;
  padding: 10px;
  margin-bottom: 10px;
}

.progress {
  margin-top: 10px;
  padding: 10px;
}

.vertical-center {
  height:100%;
  width:100%;
  text-align: center;  /* align the inline(-block) elements horizontally */
  font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.vertical-center:before {    /* create a full-height inline block pseudo=element */
  content: ' ';
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;  /* vertical alignment of the inline element */
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background-color: #F8F8F8;
   border-color: #E7E7E7;
}