html, body {
  height: 100%;
}

.adminNav {
	margin-bottom: 10px;
}

.levelNav { 
	margin-botton: 10px;
}

i {
	margin-right: 5px;
}

.btn-xlg{
  margin-top: 20px;
  height: 50px;
  width: 150px;
  margin-right: 5px;
  line-height: 30px;
  font-family: sans-serif;
}

.centerImage {
  margin: 0 auto;
}

.imageContainer {
  margin-top: 5px;
  margin-bottom: 10px;
}

.red {
  background-color: red;
}

.invisble {
	display: none;
}

.visible {
	display: block;
}

.answer {
	display: inline-block;
}


.hideAnswer {
	display: none;
}

.showAnswer {
	display: inline-block;
}

h4.questionTitle {
  font-size: 180%;
}

/*Center the questions horizontall*/
.question {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center;
}

/*Distribute questions evenly*/
.evenly {
  display:flex;
  justify-content:space-between;
}

.btnChildAnswer {
  /*border: none;*/
}

.btnAnswer {
  border: none;
}

.comment {
  text-align: left;
  font-size: 200%;
}

.progress {
  margin-top: 10px;
  padding: 10px;
}

footer {
padding: 50px 0;
}

footer p {
margin: 0;
}

.noHeight {
  height: 0;
}

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 10px 0;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.intro .intro-body .brand-heading {
  font-size: 40px;
}

.intro .intro-body .intro-text {
  font-size: 18px;
}

.oneAnswerContainer {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.btn[disabled] {
  opacity: 1;
}

#explanationModal {
  position: absolute;
  margin-top: -25px;
  padding: 20px;
  top: 30%;
}

#explanationModal .modal-title {
  font-size: 34px;
  font-weight: bold;
  text-align: center;
}

.goodAnswerColor {
  color:green;
}

.badAnswerColor {
  color:red;
}

.answerTitle {
  font-size: 28px;
  font-weight: bold;
}

.centerText {
  text-align: center;
}

.btnCancel {
  margin-right: 15px;
}

.answerHeader {
  margin-bottom: 20px;
}

.picUploads {
  padding-top: 0;
  margin-top: -25px;
  margin-bottom: 0;
}

.buttonRow {
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-bottom: 20px;
}

input[type=checkbox]{ 
  padding-left: 10px;
  margin-left:5px; 
  margin-right: 10px;
  transform: scale(2);
  -webkit-transform: scale(2);
}

td.questionLabel{
  text-transform: lowercase;
}

td.questionLabel:first-letter {
    text-transform: uppercase;
}

label.createdDateLabel{
  margin-right: 15px;
}

.btnChangeQuestion {
  margin-bottom: 20px;
}

.showAdultQuestion {
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 20px;
}

.answers {
  margin-top: 60px;
  padding-top: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

#btnPreviousQuestion {
  margin-right: 20px;
}

#btnStopQuiz {
  margin-right: 20px;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 30px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.btnResetStats {
  margin-top: 20px;
}