.adminNav {
	margin-bottom: 10px;
}

.levelNav { 
	margin-botton: 10px;
}

.capitalize {
  text-transform: capitalize;
}

i {
	margin-right: 5px;
}

.invisble {
	display: none;
}

.visible {
	display: block;
}

.answer {
	display: inline-block;
}